<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        Email: <input type="text" name="emailForm" id=""><br>
        Senha: <input type="password" name="senhaForm" id=""><br>
        <input type="submit" value="Login"><br>
        <p>Não é cadastrado? Clique aqui: <a href="/registrar">Registrar</a></p>      

    </form>
</body>
</html>