<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <form action="" method="post">
        Nome: <input type="text" name="nomeForm" id=""><br>
        Email: <input type="text" name="emailForm" id=""><br>
        Senha: <input type="password" name="senhaForm" id=""><br>
        <input type="submit" value="Cadastrar"><br>
        <p>Já possui cadastro? Clique aqui para Login: <a href="/login">Login</a></p></h1>
        </form>
</body>
</html>